<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606795817007-hht4pl4qbh8mkrflhltb0n8l8egcrpbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606795817007-hht4pl4qbh8mkrflhltb0n8l8egcrpbu</string>
	<key>API_KEY</key>
	<string>AIzaSyAJLGaluNVu8zc5UKPhsbNsbVWh0LFKEwI</string>
	<key>GCM_SENDER_ID</key>
	<string>606795817007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishmittal.nyssaai</string>
	<key>PROJECT_ID</key>
	<string>linear-rig-452607-n8</string>
	<key>STORAGE_BUCKET</key>
	<string>linear-rig-452607-n8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606795817007:ios:c8785bc8c811685db326da</string>
	<key>DATABASE_URL</key>
	<string>https://linear-rig-452607-n8-default-rtdb.firebaseio.com</string>
</dict>
</plist>